---
import Layout from "../layouts/Layout.astro";

const members = [
  {
    name: "段風桜 Dampuzakura",
    role: "代表 / 創設者",
    introduction: "",
    image: "https://avatars.githubusercontent.com/u/168283013",
    website: "https://dampuzakura.github.io",
    x: "https://x.com/dampuzakura",
    bluesky: "https://dampuzakura.bluesky.social",
    mastodon: "https://fedibird.com/@dampuzakura",
    misskey: "https://misskey.io/@dampuzakura",
    github: "https://github.com/dampuzakura",
    youtube: "https://www.youtube.com/@dampuzakura",
    zenn: "https://zenn.dev/dampuzakura",
    qiita: "https://qiita.com/dampuzakura",
  },
];
---

<Layout
  title="About"
  description="About"
  thumbnail="/img/hennie-stander-AALupmpUC64-unsplash.jpg"
>
  <div class="mx-8 my-4 mt-16 space-y-4">
    <h1 class="mb-4 text-3xl font-bold">About</h1>
    <div>
      <h2 class="mb-4 text-4xl font-semibold">私たちについて</h2>
      <p class="text-xl">
        テキスト
      </p>
    </div>
    <div>
      <h2 class="mb-4 text-4xl font-semibold">メンバー</h2>
      <div class="cardParent lg:cols-2">
        {members.map((member) => (
          <div class="grid gap-4 p-4 card cols-3">
            <img class="bg-gray-700 rounded-full aspect-ratio-square" src={member.image} alt={member.name} />
            <div class="col-span-2">
              <h3 class="text-2xl font-semibold">{member.name}</h3>
              <p class="text-lg">{member.role}</p>
              <p class="text-lg">{member.introduction}</p>
            </div>
            <div class="flex mt-4 space-x-4 text-2xl">
              {member.website && (
                <a
                  href={member.website}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-mdi:web" />
                </a>
              )}
              {member.x && (
                <a
                  href={member.x}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:x" />
                </a>
              )}
              {member.instagram && (
                <a
                  href={member.x}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:instagram" />
                </a>
              )}
              {member.facebook && (
                <a
                  href={member.facebook}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:facebook" />
                </a>
              )}
              {member.linkedin && (
                <a
                  href={member.linkedin}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:linkedin" />
                </a>
              )}
              {member.youtube && (
                <a
                  href={member.youtube}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:youtube" />
                </a>
              )}
              {member.github && (
                <a
                  href={member.github}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:github" />
                </a>
              )}
             {member.zenn && (
                <a
                  href={member.zenn}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:zenn" />
                </a>
              )}
              {member.qiita && (
                <a
                  href={member.qiita}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:qiita" />
                </a>
              )}
              {member.bluesky && (
                <a
                  href={member.bluesky}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:bluesky" />
                </a>
              )}
              {member.mastodon && (
                <a
                  href={member.mastodon}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:mastodon" />
                </a>
              )}
              {member.misskey && (
                <a
                  href={member.misskey}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center"
                >
                  <i class="i-simple-icons:misskey" />
                </a>
              )}
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</Layout>
